[project]
	description = angular-cache is a very useful replacement for Angular's $cacheFactory.
[access "refs/*"]
	owner = group user/Jason Dobry (jmdobry)
[access "refs/for/refs/*"]
	read = group user/Jason Dobry (jmdobry)
	push = group user/Jason Dobry (jmdobry)
	label-Code-Review = -2..+2 group user/Jason Dobry (jmdobry)
	label-Verified = -1..+1 group user/Jason Dobry (jmdobry)
	rebase = group user/Jason Dobry (jmdobry)
	removeReviewer = group user/Jason Dobry (jmdobry)
	submit = group user/Jason Dobry (jmdobry)
[access "refs/heads/*"]
	read = group user/Jason Dobry (jmdobry)
	create = group user/Jason Dobry (jmdobry)
	push = +force group user/Jason Dobry (jmdobry)
	pushMerge = group user/Jason Dobry (jmdobry)
[access "refs/tags/*"]
	push = +force group user/Jason Dobry (jmdobry)
	pushTag = group user/Jason Dobry (jmdobry)
	pushSignedTag = group user/Jason Dobry (jmdobry)
