body {
    background-size: auto;
    background: url(/resources/img/cream_dust.png) repeat repeat;
    font-family:'Open sans',Arial,Helvetica,sans-serif;
}

.main-nav {
    border-bottom: 2px solid #0088cc;
}

.main-nav:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0px;
    right: 0px;
    bottom: -4px;
    border: 2px solid #11c8fa;
}

a {
    color: #0469b0;
}

a:hover {
    color: #0088cc;
}

.module-section.hidden .section-count {
    color: #0088cc;
}

.nav-list .active>a, .nav-list .active>a:hover {
    background-color: #0088cc;
}

.rounded-list a:before {
    background: #0088cc;
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
}

.footer {
    border-top: 2px solid #0088cc;
    position: relative;
}

.footer:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: 0px;
    right: 0px;
    bottom: 37px;
    border: 2px solid #11c8fa;
}

.footer a {
    color: #fff;
}

.footer .nav>li>a:hover {
    text-decoration: underline;
}

.nav>li>a:hover {
    background: none;
}

.jumbotron {
    margin: 80px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.home-lists li {
    font-size: 16px;
}
